<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>chessvia.email</title>
    <style>
        /* Basic reset */
        body, h1, p, button {
            margin: 0;
            padding: 0;
            font-family: 'Arial', sans-serif;
        }

        /* Container for centering content */
        .container {
            max-width: 800px;
            margin: 0 auto;
            padding: 20px;
        }

        /* Styling for the header */
        h1 {
            font-size: 24px;
            margin-bottom: 20px;
            text-align: center;
        }

        /* Styling for the paragraphs */
        p {
            font-size: 18px;
            line-height: 1.5;
            margin-bottom: 20px;
            text-align: justify;
        }

        /* Styling for the button */
        button {
            display: block;
            width: 100%;
            padding: 10px 20px;
            font-size: 18px;
            background-color: #4CAF50;
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s;
        }

        button:hover {
            background-color: #45a049;
        }

        @media (min-width: 768px) {
            /* Larger font sizes for desktop screens */
            h1 {
                font-size: 32px;
            }

            p {
                font-size: 20px;
            }

            button {
                width: auto;
                display: inline-block;
                margin: 0 auto;
            }
        }

        table {
            border: 1px solid black;
            border-collapse: collapse;
        }

        th, td {
            text-align: left;
            padding: 10px;
            border: 0px solid black;
        }

        th {
            background-color:rgb(174, 137, 104);
            color: black;
        }

        tr:nth-child(odd) {
            background-color: rgb(236, 217, 185);
            color: black;
        }

        tr:nth-child(even) {
            background-color:rgb(174, 137, 104);
            color: black;
        }

        footer {
            position: fixed;
            left: 0;
            bottom: 0;
            width: 100%;
            background-color: white;
            color: black;
            text-align: center;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>♙ Welcome to chessvia.email! ♟︎</h1>
        <p>Ever wanted to play chess with a friend, but at your own pace? Here, you can play a relaxed game of chess with someone, even if you're miles apart. Each move is sent through a friendly email link. This is a free service with no advertisments.</p>
        <p>Don't worry about keeping track of the game. We'll remember all the moves for you and even let you look back at them. So, you can just enjoy the game and plan your next winning move. 🎉</p>
        <h2>Here's how it works</h2>
        <ol>
            <li>You'll start a new game by clicking the button below.</li>
            <li>Enter your email address and your opponent's email address.</li>
            <li>You'll made the initial move of the game and recieve a link to the game.</li>
            <li>Your opponent receives an invitation email with a link to the game.</li>
            <li>They'll make a move and you'll be notified via email of their recent activity.</li>
            <li>And so on...</li>
        </ol>
        <button onclick="location.href='/new-game'">New Game</button>
        
        <% if (games.length > 0) { %>
            <hr>
            <h2>Recent Games</h2>
            <table id="active-games">
                <thead>
                    <tr>
                        <th>Black</th>
                        <th>White</th>
                        <th>Last Move</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <% games.forEach((game) => { %>
                        <tr>
                            <td>
                                <%= game.blackPlayerName %>
                            </td>
                            <td>
                                <%= game.whitePlayerName %>
                            </td>
                            <td>
                                <% if (!game.move) { %>
                                    No moves yet.
                                <% } else { %>
                                    <%= (game.player === 'w') ? 'White' : 'Black' %> moved to <%= game.move %> <%= game.timeAgo %>.
                                <% } %>
                            </td>
                            <td>
                                <a href="/game/<%= game.gameId %>" target="blank">/game/<%= game.gameId %></a>
                            </td>
                        </tr>
                    <% }); %>
                </tbody>
            </table>
        <% } %>

        <footer>&copy; <script>document.write(new Date().getFullYear());</script>, https://www.chessvia.email.</footer>
    </div>
</body>
</html>